@{
    ViewData["Title"] = "Privacy Policy";
}

<link type="text/css" rel="stylesheet" href="./Booking Form HTML Template_files/bootstrap.min.css">

<link type="text/css" rel="stylesheet" href="./Booking Form HTML Template_files/style.css">

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<h1>@ViewData["Title"]</h1>

<p>Potezny booking </p>
