@{
    ViewData["Title"] = "Privacy Policy";
}

    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />


</div>
<form action=" ">


<button type="submit" class="btn">Potezny booking</button>
</form>
    </div>

