@model BOOKING.Models.Product
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Add";
}

<h2 class="mainH2">Dodaj pokój</h2>

@Html.Partial("_Add", Model)
