@model BOOKING.Models.Product

@{
    ViewData["Title"] = "Add";
}

<h1>Formularz dodający pokój do systemu</h1>

@Html.Partial("_Add", Model)

<p>ID po zapisie (viewdata): <strong>@ViewData["ProductId"]</strong></p>
<p>ID po zapisie (tempdata): <strong>@TempData["ProductId"]</strong></p>
