@model IEnumerable<BOOKING.Models.Product>

<h1>Lista produktów</h1>

<ol>
    @foreach (var product in Model)
    {
        if (product.Locality == "Warszawa")
        {
            <li>
                <b>@product.Name</b> - @product.Category
                <a href="@Url.Action("Details","BookingSys", new { Id = product.Id})">Szczegóły</a>

                @using (Html.BeginForm("Delete", "BookingSys", FormMethod.Post))
                {
                    <input type="hidden" name="Id" value="@product.Id" />
                    <button type="submit">Usuń</button>
                }
            </li>
        }
        else
        {
            <li>
                <p>Brak dostępnych pokoi</p>
            </li>
        }
    }
</ol>