@model BOOKING.Models.Register

<link type="text/css" rel="stylesheet" href="./Booking Form HTML Template_files/bootstrap.min.css">

<link type="text/css" rel="stylesheet" href="./Booking Form HTML Template_files/style.css">

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<h2>Logowanie</h2

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.ValidationSummary();

    <p>Login:  </p> @Html.TextBoxFor(x => x.userName)
    <p>Hasło:  </p> @Html.PasswordFor(x => x.Password)

    <p><button type="submit">Zaloguj</button></p>

}