@model BOOKING.Models.UserModel

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />


<h2>Profil użytkownika</h2>
<html>
    <head>
        <style>
            h2{
            color: white;
            background-color: rgb(30,30,30, 1);
            padding: 0.5em;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0px 0px 20px 0px black;
            width: 60%;
            text-align: center;
            }
              td {
                color: white;
                font-size: 20px;
                text-decoration: none;
                padding: 3em;
                margin: 1.0em;
                background-image: linear-gradient(to right, rgb(30,30,30, 0.95), rgb(30,30,30, 0.95));
                box-shadow: 0px 0px 20px 0px black;

        }
        </style>
    </head>
</html>
<table class="table">
    <tr>
        <td>Nazwa użytkownika: @Model.UserName</td>
        
    </tr>
    <tr>
        <td>Adres e-mail: @Model.Email</td>
        
    </tr>
    <trr>
        <tdd><a class="btn" href="@Url.Action("MyProducts","BookingSys")">Moje produkty</a></tdd>
    </trr>
    <trr>
        <tdd><a class="btn" href="@Url.Action("MyReservations","BookingSys")">Moje rezerwacje</a></tdd>
    </trr>
</table>
