@model BOOKING.Models.UserModel


<h2>Profil użytkownika</h2>

<table class="table">
    <tr>
        <td>Nazwa użytkownika:</td>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <td>Adres e-mail:</td>
        <td>@Model.Email</td>
    </tr>
</table>
