@model BOOKING.Models.Register


<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<div class="box">
	<form method="post" asp-controller="Account" asp-action="Register">
		<h2>@Html.ValidationSummary()</h2>;
		<span class="text-center">rejestracja</span>
		<div class="input-container">
			@Html.TextBoxFor(x => x.userName)
			<label>Login</label>
		</div>
		<div class="input-container">
			@Html.TextBoxFor(x => x.Email)
			<label>E-mail</label>
		</div>
		<div class="input-container">
			@Html.PasswordFor(x => x.Password)
			<label>Hasło</label>
		</div>
		<button type="submit" class="btn">Rejestruj</button>
	</form>
</div>