@model BOOKING.Models.Register

<link type="text/css" rel="stylesheet" href="./Booking Form HTML Template_files/bootstrap.min.css">

<link type="text/css" rel="stylesheet" href="./Booking Form HTML Template_files/style.css">

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<h2>Rejestracja</h2>

@using(Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.ValidationSummary();

    <p><span>Login:  </span> @Html.TextBoxFor(x => x.userName)</p>
    <p><span>E-mail:  </span> @Html.TextBoxFor(x => x.Email)</p>
    <p><span>Hasło:  </span> @Html.PasswordFor(x => x.Password)</p>

    <p><button type ="submit">Rejestruj</button></p>
    
}